.env
.env.*
.aider*
__pycache__/
*.pyc
target/
dbt_packages/
logs/
src/dbt/target/
src/dbt/dbt_packages/
src/dbt/logs/
.pytest_cache/
data/
*.duckdb
src/airflow/logs/
src/airflow/plugins/
src/dbt/profiles.yml

gcp-key.json
src/superset/superset/home/
src/frontend/node_modules/
src/frontend/dist/
